.homeCenter {
  text-align: center;
  font-family: 'Revalia', cursive;
}

.homeCenter p {
  text-align: center;
  color: black;
  margin: 25px;
  padding: 5px;
}

body{
  background: url('../img/spacebackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
  margin:0;
}

h1{
  font-family: 'Revalia', cursive;
  color:#0CFFE1;
  font-size: 55px;
  text-align: center;
}

canvas {
  display:block;
  margin: 30px auto 0;
  border:#FFD687 3px dashed;
}

a:link {
  color: #DA0F7A;
  background-color: transparent;
  text-decoration: none;
  font-size: 25px;
}

a:visited {
    color: #DA0F7A;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #0CFFE1;
    background-color: transparent;
    text-decoration: none;
    border: #6E719C 3px solid;
}
