/*Project Name: Space Shooter
Author: Alex Li
Developer @GA in DENVER
Changes*/

.homeCenter {
  text-align: center;
  font-family: 'Revalia', cursive;
}

.homeCenter p {
  text-align: center;
  color: black;
  margin: 25px;
  padding: 5px;
}

body{
  background: url('../img/spacebackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
  margin:0;
}

h1{
  font-family: 'Revalia', cursive;
  color:#0CFFE1;
  font-size: 55px;
  text-align: center;
}

canvas {
  display:block;
  margin: 30px auto 0;
  border:#FFD687 3px dashed;
}

/*links on the pages have these properties*/
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 25px;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #0CFFE1;
    background-color: transparent;
    text-decoration: none;
    border: #6E719C 3px solid;
}

/*MEDIA QUERY*/
@media (max-width: 600px) {
  h1{
    color: red;
  }
}

/*ANIMATIONS*/
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
.astronunt{
  -webkit-animation: rotating 9s linear infinite;
}
