body{
  background: url('../img/spacebackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: 'Revalia', cursive;
  color:#0CFFE1;
  font-size: 50px;

}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  border:#FFD687 3px solid;
}

#background {
  z-index: -2;
}

#main {
  z-index: -1;
}

#ship {
  z-index: 0;
}

#center{
  /*width: 360px;
  height:600px;
  margin: 0px auto;
  border: 1px solid red;
  text-align: center;*/
}
